Use looping to output the elements from a provided list present at odd indexes.
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
# Provided list
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# Print the elements at odd indexes
print("Elements at odd indexes:")
for i in range(1, len(my_list), 2):
    print(my_list[i])

Elements at odd indexes:
20
40
60
80
100

Write a code that appends the type of elements from a given list.
Input
x = [23, ‘Python’, 23.98]
Expected output
[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [ ]:
# Given list
x = [23, 'Python', 23.98]

# Print the original list
print(x)

# Initialize an empty list to store the types of elements
types = []

# Iterate over each element in the list
for element in x:
    # Append the type of the element to the types list
    types.append(type(element))

# Print the list of types
print(types)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

Write a function that takes a list and returns a new list with unique items of the first list.
Sample List: [1,2,3,3,3,3,4,5]
Unique List: [1, 2, 3, 4, 5]

In [ ]:
def get_unique_items(input_list):
    # Convert the input list to a set to remove duplicates
    unique_set = set(input_list)
    # Convert the set back to a list to get the unique items
    unique_list = list(unique_set)
    return unique_list

# Sample List
sample_list = [1, 2, 3, 3, 3, 3, 4, 5]

# Get the unique list
unique_list = get_unique_items(sample_list)

# Print the results
print("Sample List:", sample_list)
print("Unique List:", unique_list)

Sample List: [1, 2, 3, 3, 3, 3, 4, 5]
Unique List: [1, 2, 3, 4, 5]

Write a function that accepts a string and calculate the number of upper-case letters and lower-case
letters.
Input String: 'The quick Brow Fox'
Expected Output:
No. of Upper-case characters: 3
No. of Lower-case Characters: 12

In [ ]:
def count_upper_lower(s):
    # Initialize counters
    upper_count = 0
    lower_count = 0

    # Iterate over each character in the string
    for char in s:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1

    return upper_count, lower_count

# Input string
input_string = 'The quick Brow Fox'

# Get the counts of upper and lower case characters
upper_count, lower_count = count_upper_lower(input_string)

# Print the results
print("Input String:", input_string)
print("No. of Upper-case characters:", upper_count)
print("No. of Lower-case characters:", lower_count)

Input String: The quick Brow Fox
No. of Upper-case characters: 3
No. of Lower-case characters: 12

Use a python code to display the following star pattern using the for loop
*
* *
* * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
# Number of rows for the upper part of the pattern
n = 5

# Print the upper part of the pattern
for i in range(1, n + 1):
    print('* ' * i)

# Print the lower part of the pattern
for i in range(n - 1, 0, -1):
    print('* ' * i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*