The following is a list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
• Sort the list and find the min and max age
• Add the min age and the max age again to the list
• Find the median age (one middle item or two middle items divided by two)
• Find the average age (sum of all items divided by their number)
• Find the range of the ages (max minus min)

In [2]:
# Initial list of ages
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Step 1: Sort the list and find the min and max age
sorted_ages = sorted(ages)
min_age = sorted_ages[0]
max_age = sorted_ages[-1]

print("Sorted ages:", sorted_ages)
print("Min age:", min_age)
print("Max age:", max_age)

# Step 2: Add the min age and the max age again to the list
ages.append(min_age)
ages.append(max_age)

print("Ages after adding min and max:", ages)

# Step 3: Find the median age
sorted_ages = sorted(ages)
n = len(sorted_ages)

if n % 2 == 0:
    median_age = (sorted_ages[n//2 - 1] + sorted_ages[n//2]) / 2
else:
    median_age = sorted_ages[n//2]

print("Median age:", median_age)

# Step 4: Find the average age
average_age = sum(ages) / len(ages)

print("Average age:", average_age)

# Step 5: Find the range of the ages
age_range = max_age - min_age

print("Range of ages:", age_range)

Sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min age: 19
Max age: 26
Ages after adding min and max: [19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 19, 26]
Median age: 24.0
Average age: 22.75
Range of ages: 7

Create an empty dictionary called dog
• Add name, color, breed, legs, age to the dog dictionary
• Create a student dictionary and add first_name, last_name, gender, age, marital status,
skills, country, city and address as keys for the dictionary
• Get the length of the student dictionary
• Get the value of skills and check the data type, it should be a list
• Modify the skills values by adding one or two skills
• Get the dictionary keys as a list
• Get the dictionary values as a list

In [3]:
# Create an empty dictionary called dog
dog = {}

# Add name, color, breed, legs, age to the dog dictionary
dog['name'] = 'Buddy'
dog['color'] = 'Brown'
dog['breed'] = 'Labrador'
dog['legs'] = 4
dog['age'] = 3

print("Dog dictionary:", dog)

# Create a student dictionary and add first_name, last_name, gender, age, marital status,
# skills, country, city, and address as keys for the dictionary
student = {
    'first_name': 'John',
    'last_name': 'Doe',
    'gender': 'Male',
    'age': 21,
    'marital_status': 'Single',
    'skills': ['Python', 'Java'],
    'country': 'USA',
    'city': 'New York',
    'address': '123 Main St'
}

print("Student dictionary:", student)

# Get the length of the student dictionary
student_length = len(student)
print("Length of student dictionary:", student_length)

# Get the value of skills and check the data type, it should be a list
skills = student['skills']
print("Skills:", skills)
print("Data type of skills:", type(skills))

# Modify the skills values by adding one or two skills
student['skills'].append('C++')
student['skills'].append('JavaScript')

print("Modified skills:", student['skills'])

# Get the dictionary keys as a list
student_keys = list(student.keys())
print("Student dictionary keys:", student_keys)

# Get the dictionary values as a list
student_values = list(student.values())
print("Student dictionary values:", student_values)

Dog dictionary: {'name': 'Buddy', 'color': 'Brown', 'breed': 'Labrador', 'legs': 4, 'age': 3}
Student dictionary: {'first_name': 'John', 'last_name': 'Doe', 'gender': 'Male', 'age': 21, 'marital_status': 'Single', 'skills': ['Python', 'Java'], 'country': 'USA', 'city': 'New York', 'address': '123 Main St'}
Length of student dictionary: 9
Skills: ['Python', 'Java']
Data type of skills: <class 'list'>
Modified skills: ['Python', 'Java', 'C++', 'JavaScript']
Student dictionary keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Student dictionary values: ['John', 'Doe', 'Male', 21, 'Single', ['Python', 'Java', 'C++', 'JavaScript'], 'USA', 'New York', '123 Main St']

Create a tuple containing names of your sisters and your brothers (imaginary siblings are
fine)
• Join brothers and sisters tuples and assign it to siblings
• How many siblings do you have?
• Modify the siblings tuple and add the name of your father and mother and assign it to
family_members

In [4]:
# Create a tuple containing names of your sisters and your brothers
sisters = ('Anna', 'Beth', 'Clara')
brothers = ('David', 'Ethan', 'Frank')

# Print the sisters and brothers tuples
print("Sisters:", sisters)
print("Brothers:", brothers)

# Join brothers and sisters tuples and assign it to siblings
siblings = sisters + brothers
print("Siblings:", siblings)

# How many siblings do you have?
num_siblings = len(siblings)
print("Number of siblings:", num_siblings)

# Modify the siblings tuple and add the name of your father and mother and assign it to family_members
family_members = siblings + ('Father', 'Mother')
print("Family members:", family_members)

Sisters: ('Anna', 'Beth', 'Clara')
Brothers: ('David', 'Ethan', 'Frank')
Siblings: ('Anna', 'Beth', 'Clara', 'David', 'Ethan', 'Frank')
Number of siblings: 6
Family members: ('Anna', 'Beth', 'Clara', 'David', 'Ethan', 'Frank', 'Father', 'Mother')

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
• Find the length of the set it_companies
• Add 'Twitter' to it_companies
• Insert multiple IT companies at once to the set it_companies
• Remove one of the companies from the set it_companies
• What is the difference between remove and discard
• Join A and B
• Find A intersection B
• Is A subset of B
• Are A and B disjoint sets
• Join A with B and B with A
• What is the symmetric difference between A and B
• Delete the sets completely
• Convert the ages to a set and compare the length of the list and the set.

In [5]:
# Initial sets and list
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# Find the length of the set it_companies
length_it_companies = len(it_companies)
print("Length of it_companies:", length_it_companies)

# Add 'Twitter' to it_companies
it_companies.add('Twitter')
print("it_companies after adding Twitter:", it_companies)

# Insert multiple IT companies at once to the set it_companies
it_companies.update(['Intel', 'Cisco', 'HP'])
print("it_companies after adding multiple companies:", it_companies)

# Remove one of the companies from the set it_companies
it_companies.remove('Oracle')
print("it_companies after removing Oracle:", it_companies)

# Difference between remove and discard
# remove() raises a KeyError if the item does not exist, whereas discard() does not
print("Difference between remove and discard: remove() raises an error if the item does not exist, discard() does not.")

# Join A and B
joined_AB = A.union(B)
print("A union B:", joined_AB)

# Find A intersection B
intersection_AB = A.intersection(B)
print("A intersection B:", intersection_AB)

# Is A subset of B
is_subset = A.issubset(B)
print("Is A subset of B:", is_subset)

# Are A and B disjoint sets
are_disjoint = A.isdisjoint(B)
print("Are A and B disjoint sets:", are_disjoint)

# Join A with B and B with A (union is commutative)
join_A_with_B = A.union(B)
join_B_with_A = B.union(A)
print("A union B:", join_A_with_B)
print("B union A:", join_B_with_A)

# What is the symmetric difference between A and B
symmetric_difference_AB = A.symmetric_difference(B)
print("Symmetric difference between A and B:", symmetric_difference_AB)

# Delete the sets completely
del A
del B
print("Sets A and B deleted.")

# Convert the ages to a set and compare the length of the list and the set
age_set = set(age)
length_age_list = len(age)
length_age_set = len(age_set)
print("Length of age list:", length_age_list)
print("Length of age set:", length_age_set)

Length of it_companies: 7
it_companies after adding Twitter: {'Apple', 'Facebook', 'Oracle', 'Twitter', 'IBM', 'Microsoft', 'Amazon', 'Google'}
it_companies after adding multiple companies: {'Oracle', 'IBM', 'Intel', 'Facebook', 'Google', 'Amazon', 'Apple', 'Twitter', 'Cisco', 'Microsoft', 'HP'}
it_companies after removing Oracle: {'IBM', 'Intel', 'Facebook', 'Google', 'Amazon', 'Apple', 'Twitter', 'Cisco', 'Microsoft', 'HP'}
Difference between remove and discard: remove() raises an error if the item does not exist, discard() does not.
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A subset of B: True
Are A and B disjoint sets: False
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
B union A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
Sets A and B deleted.
Length of age list: 8
Length of age set: 5

The radius of a circle is 30 meters.
• Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
• Calculate the circumference of a circle and assign the value to a variable name of
_circum_of_circle_
• Take radius as user input and calculate the area.

In [6]:
import math

# Given radius
radius = 30

# Calculate the area of the circle
_area_of_circle_ = math.pi * (radius ** 2)
print("Area of the circle with radius 30 meters:", _area_of_circle_)

# Calculate the circumference of the circle
_circum_of_circle_ = 2 * math.pi * radius
print("Circumference of the circle with radius 30 meters:", _circum_of_circle_)

# Take radius as user input and calculate the area
user_radius = float(input("Enter the radius of the circle: "))
user_area_of_circle = math.pi * (user_radius ** 2)
print(f"Area of the circle with radius {user_radius} meters:", user_area_of_circle)

Area of the circle with radius 30 meters: 2827.4333882308138
Circumference of the circle with radius 30 meters: 188.49555921538757
Enter the radius of the circle: 25
Area of the circle with radius 25.0 meters: 1963.4954084936207

“I am a teacher and I love to inspire and teach people”
• How many unique words have been used in the sentence? Use the split methods and set
to get the unique words.

In [7]:
# Sentence
sentence = "I am a teacher and I love to inspire and teach people"

# Split the sentence into words and convert to lowercase to ensure case-insensitive counting
words = sentence.lower().split()

# Print the words in the sentence
print("Words in the sentence:", words)

# Get unique words using set
unique_words = set(words)

# Print the unique words
print("Unique words in the sentence:", unique_words)

# Count the number of unique words
num_unique_words = len(unique_words)

print("Number of unique words in the sentence:", num_unique_words)

Words in the sentence: ['i', 'am', 'a', 'teacher', 'and', 'i', 'love', 'to', 'inspire', 'and', 'teach', 'people']
Unique words in the sentence: {'people', 'a', 'teacher', 'inspire', 'teach', 'am', 'love', 'to', 'and', 'i'}
Number of unique words in the sentence: 10

Use a tab escape sequence to get the following lines.
Name Age Country City
Asabeneh 250 Finland Helsinki

In [8]:
# Using tab escape sequence to print the lines
print("Name\tAge\tCountry\tCity")
print("Asabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

Use the string formatting method to display the following:
radius = 10
area = 3.14 * radius ** 2
“The area of a circle with radius 10 is 314 meters square.”

In [9]:
# Given radius
radius = 10

# Calculate the area of the circle
area = 3.14 * radius ** 2

# Using string formatting method to display the statement
print("The area of a circle with radius {} is {} meters square.".format(radius, area))

The area of a circle with radius 10 is 314.0 meters square.

Write a program, which reads weights (lbs.) of N students into a list and convert these weights to
kilograms in a separate list using Loop. N: No of students (Read input from user)
Ex: L1: [150, 155, 145, 148]
Output: [68.03, 70.3, 65.77, 67.13]

In [10]:
# Read the number of students from the user
N = int(input("Enter the number of students: "))

# Initialize an empty list to store weights in pounds
weights_lbs = []

# Read weights of N students into a list
for i in range(N):
    weight_lbs = float(input(f"Enter the weight of student {i+1} (in lbs): "))
    weights_lbs.append(weight_lbs)

print("Weights in lbs:", weights_lbs)

# Convert weights from pounds to kilograms
weights_kgs = []
for weight_lbs in weights_lbs:
    weight_kgs = weight_lbs * 0.453592  # Conversion factor from pounds to kilograms
    weights_kgs.append(round(weight_kgs, 2))

print("Weights in kgs:", weights_kgs)

Enter the number of students: 4
Enter the weight of student 1 (in lbs): 150
Enter the weight of student 2 (in lbs): 145
Enter the weight of student 3 (in lbs): 155
Enter the weight of student 4 (in lbs): 148
Weights in lbs: [150.0, 145.0, 155.0, 148.0]
Weights in kgs: [68.04, 65.77, 70.31, 67.13]